@import 'color.css';
@import 'text.css';
@import 'forms.css';
@import 'header.css';

body {
  margin-bottom: 50px;
}

.App {
  text-align: left;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin: auto 15px;
}

#jumbo {
  margin: 50px auto;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #5d5c61bd;
  color: snow;
}

#feedback {
  justify-self: center;
  background: transparent;
  font-weight: 400;
  color: snow;
  padding: 0px;
  margin: 0px;
}

#login {
  color: snow;
}

#signout {
  background: transparent;
  border: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: nowrap;
    padding: 0px;
  }
  textarea[type=textarea] {
    width: 320px;
  }
  #search-form {display: none;}
  .nav { font-size: medium;}
  .radius {width: 320px;}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
