.note-head {
    background-color: whitesmoke;
    font-weight: 600;
    margin:0px ;
    padding: auto;
    /* border-bottom: 1px solid #5D5C61; */
    text-shadow: none;
}

.note-text {
    padding: auto 15px;
    margin: auto 15px;
    text-shadow: none;
}

#trashicon {
    margin: 3px;
    text-align: right;
}

.hide {
    display: none;
}